@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  direction: rtl;
  margin: 0;
  padding: 0;
  height: auto !important;
  position: relative !important;
  width: 100% !important;
  font-family: 'IRANSans_Medium';
}

* {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'IRANSans_Bold';
    src: url('./../fonts/IRANSansX-Bold.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'IRANSans_SemiBold';
    src: url('./../fonts/IRANSansX-DemiBold.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'IRANSans_Medium';
    src: url('./../fonts/IRANSansX-Medium.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'IRANSans_Regular';
    src: url('./../fonts/IRANSansX-Regular.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'IRANSans_Light';
    src: url('./../fonts/IRANSansX-Light.ttf');
    font-display: swap;
  }
}

.isCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate {
  transition: all 0.3s ease;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.placeholder-rtl::-webkit-input-placeholder {
  text-align: right;
}

.placeholder-rtl::-moz-placeholder {
  text-align: right;
}

.placeholder-rtl:-ms-input-placeholder {
  text-align: right;
}

.placeholder-rtl::placeholder {
  text-align: right;
}

.rbc-allday-cell {
  display: none;
}

.rbc-header {
  border-left: none !important;
  border-bottom: rgb(241, 243, 244) 1px solid !important;
}
.rbc-time-header-content {
  border-left: none !important;
}

.rbc-time-content {
  border-top: none !important;
}

.rbc-timeslot-group {
  border-bottom: rgb(241, 243, 244) 1px solid !important;
}

.rbc-time-slot {
  border-top: none !important;
  background: #fff;
}
.rbc-time-content {
  border-left: rgb(241, 243, 244) 1px solid !important;
}
.rbc-time-gutter .rbc-timeslot-group {
  border-bottom: none !important;
  transform: translateY(-10px);
}

.rbc-event-label {
  display: none !important;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0 !important;
}
.rbc-day-slot .rbc-event {
  border: none !important;
  padding: 0;
}

.rbc-time-content > * + * > * {
  border-left: rgb(241, 243, 244) 1px solid !important;
}
