@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: '\e969';
}
.icon-add:before {
  content: '\e900';
}
.icon-archive-add:before {
  content: '\e901';
}
.icon-archive-minus:before {
  content: '\e902';
}
.icon-arrow-down:before {
  content: '\e903';
}
.icon-down-outlined:before {
  content: '\e904';
}
.icon-arrow-left:before {
  content: '\e905';
}
.icon-left-outlined:before {
  content: '\e906';
}
.icon-arrow-right:before {
  content: '\e907';
}
.icon-right-outlined:before {
  content: '\e908';
}
.icon-arrow-top:before {
  content: '\e909';
}
.icon-up-outlined:before {
  content: '\e90a';
}
.icon-audio-square:before {
  content: '\e90b';
}
.icon-backward-10-seconds:before {
  content: '\e90c';
}
.icon-book:before {
  content: '\e90d';
}
.icon-bookmark:before {
  content: '\e90e';
}
.icon-calculator:before {
  content: '\e90f';
}
.icon-calendar:before {
  content: '\e910';
}
.icon-call-calling:before {
  content: '\e911';
}
.icon-chart:before {
  content: '\e912';
}
.icon-clock:before {
  content: '\e913';
}
.icon-data:before {
  content: '\e914';
}
.icon-discussion:before {
  content: '\e915';
}
.icon-dislike:before {
  content: '\e916';
}
.icon-document-filter:before {
  content: '\e917';
}
.icon-document-text:before {
  content: '\e918';
}
.icon-edit:before {
  content: '\e919';
}
.icon-emoji:before {
  content: '\e91a';
}
.icon-empty-wallet-tick:before {
  content: '\e91b';
}
.icon-export:before {
  content: '\e91c';
}
.icon-eye:before {
  content: '\e91d';
}
.icon-eye-slash:before {
  content: '\e91e';
}
.icon-filter:before {
  content: '\e91f';
}
.icon-folder-open:before {
  content: '\e920';
}
.icon-forward-10-seconds:before {
  content: '\e921';
}
.icon-frame:before {
  content: '\e922';
}
.icon-gps:before {
  content: '\e923';
}
.icon-heart:before {
  content: '\e924';
}
.icon-home:before {
  content: '\e925';
}
.icon-import-1:before {
  content: '\e926';
}
.icon-import:before {
  content: '\e927';
}
.icon-info-circle:before {
  content: '\e928';
}
.icon-information:before {
  content: '\e92a';
}
.icon-instagram:before {
  content: '\e92b';
}
.icon-like:before {
  content: '\e92c';
}
.icon-link:before {
  content: '\e92d';
}
.icon-lock:before {
  content: '\e92e';
}
.icon-lock-1:before {
  content: '\e92f';
}
.icon-logout:before {
  content: '\e930';
}
.icon-maximize:before {
  content: '\e931';
}
.icon-medal:before {
  content: '\e932';
}
.icon-medal-star:before {
  content: '\e933';
}
.icon-menu:before {
  content: '\e934';
}
.icon-menu-board:before {
  content: '\e935';
}
.icon-message:before {
  content: '\e936';
}
.icon-message-1:before {
  content: '\e937';
}
.icon-message-question:before {
  content: '\e938';
}
.icon-minus:before {
  content: '\e939';
}
.icon-mobile:before {
  content: '\e93a';
}
.icon-money:before {
  content: '\e93b';
}
.icon-moneys:before {
  content: '\e93c';
}
.icon-monitor:before {
  content: '\e93d';
}
.icon-more:before {
  content: '\e93e';
}
.icon-close:before {
  content: '\e93f';
}
.icon-music:before {
  content: '\e940';
}
.icon-next:before {
  content: '\e941';
}
.icon-note:before {
  content: '\e942';
}
.icon-notification:before {
  content: '\e943';
}
.icon-paperclip:before {
  content: '\e944';
}
.icon-path:before {
  content: '\e945';
}
.icon-pause:before {
  content: '\e946';
}
.icon-people:before {
  content: '\e947';
}
.icon-personalcard:before {
  content: '\e948';
}
.icon-play:before {
  content: '\e949';
}
.icon-previous:before {
  content: '\e94a';
}
.icon-profile:before {
  content: '\e94b';
}
.icon-receipt-item:before {
  content: '\e94c';
}
.icon-repeate-one:before {
  content: '\e94d';
}
.icon-routing:before {
  content: '\e94e';
}
.icon-row-vertical:before {
  content: '\e94f';
}
.icon-search-normal:before {
  content: '\e950';
}
.icon-send:before {
  content: '\e951';
}
.icon-setting:before {
  content: '\e952';
}
.icon-share:before {
  content: '\e953';
}
.icon-slider-vertical:before {
  content: '\e954';
}
.icon-sort:before {
  content: '\e955';
}
.icon-speed:before {
  content: '\e956';
}
.icon-star:before {
  content: '\e957';
}
.icon-task:before {
  content: '\e959';
}
.icon-teacher:before {
  content: '\e95a';
}
.icon-textalign:before {
  content: '\e95b';
}
.icon-ticket-star:before {
  content: '\e95c';
}
.icon-timer:before {
  content: '\e95d';
}
.icon-trash:before {
  content: '\e95e';
}
.icon-trend-up:before {
  content: '\e95f';
}
.icon-unlock:before {
  content: '\e960';
}
.icon-user-octagon:before {
  content: '\e961';
}
.icon-user-tag:before {
  content: '\e962';
}
.icon-verify:before {
  content: '\e963';
}
.icon-video-circle:before {
  content: '\e964';
}
.icon-video-play:before {
  content: '\e965';
}
.icon-volume-high:before {
  content: '\e966';
}
.icon-wallet:before {
  content: '\e967';
}
.icon-whatsapp:before {
  content: '\e968';
}
.icon-excel:before {
  content: '\e929';
}
.icon-pdf:before {
  content: '\e958';
}
